In [1]:
t = (1,2)

In [3]:
t.index(2)

1

In [4]:
l = [[1,2]]

In [5]:
l.count(1)

0

In [6]:
l[0].count(1)

1

In [9]:
if 1 in l[0]:
    print("opa")
else:
    print("n√£o")
l.

opa

In [10]:
moves = [[' ', ' ', 'x'],[' ', 'o', ' ']]

In [20]:
[l for l in moves]

[[' ', ' ', 'x'], [' ', 'o', ' ']]

In [23]:
''.join([' ', ' ', 'x'])

'  x'

In [24]:
['a']*3

['a', 'a', 'a']

In [30]:
y, x = list("12")

In [31]:
y

'1'

In [32]:
x

'2'

In [39]:
'asdasdasd'[:2]

'as'

In [40]:
l = list()

In [41]:
l

[]

In [43]:
x, y = list('')

ValueError: not enough values to unpack (expected 2, got 0)

In [45]:
'a'.ljust(2)

'a '

In [46]:
ord('asd')

TypeError: ord() expected a character, but string of length 3 found

In [50]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'